body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 60px;
}
.box h3{
    color: orange;
}
#par{
    margin-right: 100px;
}
span{
    color: rgb(240, 100, 50);
}
.flexible{
    display: flex;
    margin-bottom:50px
}
.half{
    width: 50%;
    padding: 2%;
}
.half img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(crimson, salmon) ;
    padding: 10px 40px;
    border-radius: 10%;
    color: cornsilk;
    font-weight: 600;
}
.big-dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box{
    box-shadow: 10px 10px 40px rgb(240, 146, 70);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;   
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, salmon);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, purple, hotpink);
    border-image-slice: 1;
